英語に直しなさい<br/>
<%= @question.jap%>

<%= form_for(@question) do |f| %>
  答え:
  <%= f.text_field :reply %>
  <%= f.submit %>
<% end %>

<body onLoad="countdown();">
  <div id="target">時間表示領域</div>
</body>

問題ID：<%=session[:id]%>
点数：<%=session[:score]%>

<script>
var count=10;
  function countdown() {
    var ele = document.getElementById("target");
    ele.innerHTML = count.toLocaleString();
    count--;
    if(count<0){
      location.href="/results/index";
    }
    window.setTimeout(countdown, 1000);
}


</script>
